@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins&display=swap");
html {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-weight: 800;
  font-size: 1.7rem;
}

h4 {
  font-weight: 300;
  font-size: 30px;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  background-color: #2a3340 !important;
  -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
}

.nav-link,
.nav-link.active {
  color: #fff !important;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.7) !important;
}

.nav-link.active {
  text-decoration: underline;
}

.logo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 75px;
  width: 75px;
}

.footers {
  position: absolute;
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2a3340;
  height: auto;
  padding: 2rem;
}

.footer__subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__subscription__text {
  color: #fff;
}

.footer__subscription__wrapper {
  position: relative;
}

.footer__subscription__wrapper i {
  position: absolute;
  left: 15px;
  top: 12px;
  color: #fff;
}

.footer__subscription__input {
  border: none;
  background-color: rgba(0, 0, 0, 0.33);
  padding: 0.5rem 2.5rem;
  color: #fff;
}

.footer__subscription__input::-webkit-input-placeholder, .footer__subscription__input:focus {
  color: #fff;
}

.footer__subscription__input:-ms-input-placeholder, .footer__subscription__input:focus {
  color: #fff;
}

.footer__subscription__input::-ms-input-placeholder, .footer__subscription__input:focus {
  color: #fff;
}

.footer__subscription__input::placeholder, .footer__subscription__input:focus {
  color: #fff;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #fff;
  margin-top: 3rem;
}

.footer__links__section ul {
  list-style: none;
  padding: 0;
}

.footer__links__section ul li {
  padding: 0.2rem 0;
}

.copyright {
  text-align: center;
}

.copyright p {
  margin: 0;
  padding: 1rem 0;
}

@media (max-width: 767px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  __section ul {
    margin: 2rem 0;
  }
}

.hero {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#2a3340), to(#151c27));
  background: linear-gradient(to right, #2a3340, #151c27);
}

.hero__section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}

.hero__title {
  color: #fff;
}

.hero__button {
  background-color: #2a3340;
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px 45px;
  margin-top: 40px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.hero__button:hover {
  background-color: #192231;
  cursor: pointer;
  color: #fff;
}

.brands,
.products {
  margin-top: 2rem;
}

.brands__title,
.products__title {
  padding: 10px 0;
}

.brands__rectangle,
.products__rectangle {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  border: none;
  padding: 1rem;
}

.card-text {
  text-decoration: none !important;
  color: black;
}

.card-img-top {
  background-color: #f7f7f7;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 186px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.support {
  width: 100%;
  height: auto;
  background-color: #2a3340;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 0;
}

.support__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.support__shipping, .support__visa, .support__phone {
  text-align: center;
  color: #fff;
  max-width: 145px;
}

.edition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

.edition__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edition__relative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.edition__winter, .edition__summer {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.edition__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.fa-truck,
.fa-cc-visa,
.fa-phone {
  font-size: 25px;
  margin: 1rem 0;
}

@media (max-width: 1200px) {
  .cards {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .hero__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 100%;
    padding: 3rem;
  }
  .brands__title {
    text-align: center;
  }
  .brands__rectangle img {
    width: 15%;
  }
  .support__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .products__title {
    text-align: center;
  }
  .edition__text {
    font-size: 16px;
  }
}

.displayProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  min-height: 50vh;
}

.products {
  margin: 2rem 0;
}

.products__wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.products__wrapper i {
  position: absolute;
  left: 15px;
  top: 12px;
  color: black;
}

.products__search {
  padding: 0.5rem 3rem;
  border-radius: 5px;
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
}

@media (max-width: 767px) {
  .displayProducts {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.login {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__header, .login__subtitle {
  text-align: center;
  padding-bottom: 1rem;
}

.login__wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.login__wrapper__username, .login__wrapper__password {
  padding: 0.5rem 3rem;
  border-radius: 5px;
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
}

.login__wrapper i {
  position: absolute;
  left: 15px;
  top: 12px;
  color: black;
}

.dashboard {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-edit {
  color: white;
}

.fa-trash-alt {
  cursor: pointer;
}

.editProducts {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.singleProduct {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.singleProduct__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singleProduct__title {
  font-size: 28px;
}

.singleProduct__subtitle {
  max-width: 400px;
}

.singleProduct__size {
  padding: 0 1rem;
  margin: 1rem;
}

.singleProduct__image {
  height: 500px;
  width: 500px;
}

.img__background {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #f7f7f7;
  border-radius: 15px;
}

.description {
  margin-top: 4rem;
}

.description__title {
  font-weight: 400;
  font-size: 20px;
}

.features {
  margin-top: 2rem;
  background-color: #f4f8ff;
  padding: 5rem 0;
  width: 100%;
}

.features__title {
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .singleProduct {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;
  }
  .singleProduct__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .singleProduct__title {
    margin-top: 3rem;
  }
  .singleProduct__image {
    width: 300px;
    height: 300px;
  }
  .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features__title, .features__info {
    margin: auto;
  }
  .features__title {
    padding: 0.5rem 0;
  }
}

.cart {
  min-height: 70vh;
  margin-top: 2rem;
}

.list-group-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 767px) {
  .cart__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .cart__button {
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form {
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */