.cart {
  min-height: 70vh;
  margin-top: 2rem;
}

.list-group-item {
  align-items: center;
  height: 100%;
}

@media (max-width: 767px) {
  .cart__flex {
    flex-direction: column-reverse;
  }
  .cart__button {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form {
    margin-top: 1rem;
  }
}
