.order {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-info-color;

  &__title {
    text-align: center;
  }

  &__text {
    text-align: center;
  }
}
