.hero {
  width: 100%;
  height: 100%;
  background: $hero-banner;

  &__section {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
  }

  &__title {
    color: $white;
  }

  &__button {
    background-color: $primary-color;
    display: inline-block;
    border: 1px solid $white;
    padding: 10px 45px;
    margin-top: 40px;
    border-radius: 5px;
    color: $white;
    text-decoration: none;
  }

  &__button:hover {
    background-color: $secondary-color;
    cursor: pointer;
    color: $white;
  }
}

.brands,
.products {
  margin-top: 2rem;

  &__title {
    padding: 10px 0;
  }

  &__rectangle {
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  border: none;
  padding: 1rem;

  &-text {
    text-decoration: none !important;
    color: black;
  }

  &-img-top {
    background-color: $grey;
    box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.1);
    border-radius: 15px;
    width: 186px;
    height: 200px;
    object-fit: contain;
  }
}

.support {
  width: 100%;
  height: auto;
  background-color: $primary-color;
  margin: 2rem 0;
  display: flex;
  padding: 5rem 0;

  &__flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__shipping,
  &__visa,
  &__phone {
    text-align: center;
    color: $white;
    max-width: 145px;
  }
}

.edition {
  display: flex;
  margin: 2rem 0;

  &__images {
    display: flex;
  }
  &__relative {
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }
  &__winter,
  &__summer {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    text-align: center;
    cursor: pointer;
  }
}

.fa-truck,
.fa-cc-visa,
.fa-phone {
  font-size: 25px;
  margin: 1rem 0;
}

// QUERIES

@media (max-width: 1200px) {
  .cards {
    align-items: center;
  }
}

@media (max-width: 767px) {
  .hero__section {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 3rem;
  }

  .brands__title {
    text-align: center;
  }

  .brands__rectangle img {
    width: 15%;
  }

  .support__flex {
    flex-direction: column;
  }
  .cards {
    justify-content: center;
  }
  .products__title {
    text-align: center;
  }
  .edition__text {
    font-size: 16px;
  }
}
