.navbar {
  background-color: $primary-color !important;
  box-shadow: 10px 5px 5px rgba($color: #000000, $alpha: 0.1);
}

.nav-link,
.nav-link.active,
.navbar-brand {
  color: $white !important;
}

.nav-link.active {
  text-decoration: underline;
}

.logo {
  object-fit: contain;
  height: 75px;
  width: 75px;
}
