.singleProduct {
  min-height: 70vh;
  display: flex;
  margin-top: 2rem;

  &__flex {
    display: flex;
    justify-content: space-evenly;
  }

  &__subtitle {
    max-width: 400px;
  }
}

.img__background {
  background-color: $grey;
  border-radius: 5pc;
}
